{% extends "layout.html" %}

{% block title %}Home page{% endblock %}
{% block content %}

<main role="main">
  <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
          <h1>Welcome</h1>
          <p style="color: black;"><b> Welcome to Belinda's Bank! Belinda's Bank serves a clientele of a high net worth! We help to manage their savings and current accounts. Belinda's bank has the ability to create customers, open customer accounts, update and delete customers, manage cashier transactions such as deposit, withdraw and transfer functionalities.</b></p>
      </div>
  </div>
</main>



{% endblock %}
